---
const {articles} = Astro.props
---
<div class="flex justify-center items-center h-[92vh] ">
	<div class="grid grid-cols-6 grid-rows-2 h-2/3 w-4/5 gap-2">
		<a href="#" class="bg-[url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover col-span-3 row-span-2 shadow-lg flex items-end hover:scale-110 duration-100">
			<div class="pb-5 px-10 bg-gradient-to-r from-teal-100 flex-grow pt-5 bg-opacity-50">
				<h3 class="text-2xl font-bold">Augmenter sa productivité</h3>
				<h4 class="text-md">14 janvier 2024</h4>
			</div>
		</a>
        <a href="#" class="bg-[url(https://images.unsplash.com/photo-1683009427037-c5afc2b8134d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover col-span-3 row-span-1 shadow-lg flex items-end hover:scale-110 duration-100">
			<div class="pb-5 px-10 bg-gradient-to-l from-teal-100 text-right flex-grow pt-5 bg-opacity-50 ">
				<h3 class="text-2xl font-bold">Des adresses courriels à la tonne!</h3>
				<h4 class="text-md">14 janvier 2024</h4>
			</div>
		</a>
        <a href="#" class="bg-[#C0DFD8] col-span-1 row-span-1 shadow-lg flex items-center justify-center hover:scale-110 duration-100">
			<h3 class="text-2xl ">Voir plus ></h3>
		</a>
        <a class="bg-[url(https://images.unsplash.com/photo-1682687982046-e5e46906bc6e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover col-span-2 row-span-1 shadow-lg flex items-end hover:scale-110 duration-100">
			<div class="pb-5 px-10 bg-gradient-to-l from-teal-100 text-right flex-grow pt-5 bg-opacity-50">
				<h3 class="text-2xl font-bold">Playwright pour les nuls</h3>
				<h4 class="text-md">14 janvier 2024</h4>
			</div>
		</a>
	</div>
</div>
