---
import Layout from "../../../layouts/Layout.astro";
import { getDirectusClient } from "../../../utils/directus";
import { readItem, readItems } from "@directus/sdk";
import ContentCard from "../../../components/design1/ContentCard.astro";

export async function getStaticPaths({ paginate }) {
  const client = await getDirectusClient();
  const posts = await client.request(
    readItems("posts", {
      fields: ["*", {author: ["*"]}, { translations: ["*"] }],
      sort: ['-date_published']
    }),
  );
  const pages: Array<Number> = [1];
  for (var i = 1; i <= posts.length; i++) {
    const x = i + 10;
    x % 10 === 0 ? pages.push(parseInt(x.toString()[0])) : true;
  }

  let paths: Array<object> = [];
  pages.forEach((p) => {
    paths.push({
      params: { language: "fr", page: p },
      props: { posts: posts.slice((p - 1) * 10, (p - 1) * 10 + 10), max: posts.length < (10 * (p-1)) },
    });
    paths.push({
      params: { language: "en", page: p },
      props: { posts: posts.slice((p - 1) * 10, (p - 1) * 10 + 10), max: posts.length < (10 * (p-1)) },
    });
  });

  return paths;
}

const { language, page } = Astro.params;
const uiLang = {fr: "Articles", en:"Posts"}
const { posts, max } = Astro.props;
---

<Layout title={uiLang[language]} current=`blog/${page}`>
  <div class="bg-white py-12 sm:py-12">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">

      <div class="mx-auto mt-8 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        {
          posts.map((post) => (
            <ContentCard
              content={post}
              lang={language === "fr" ? 0 : 1}
              image={"https://testhor.fjordcms.app/assets/" + post.image}
            />
          ))
        }
         {page > 1 ? <a href="">Page précédente</a> : ""}
         {max ? <a href="">Page suivante</a>: ""}
      </div>
    </div>
  </div>
</Layout>
