---
import Menu from "./Menu.astro";
import MenuMobile from "./MenuMobile.astro";
import Logo from "./Logo.astro";

---
<header class="bg-gray-900 w-full py-4 shadow-xl">
    <div class="max-w-7xl mx-auto flex flex-row items-center">
        <Logo/>
        <Menu/>
        <MenuMobile/>
    </div>
</header>
