---

---

<div class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-90 flex lg:hidden flex-col ">
    <section class="py-3 flex justify-end pr-10">
        <button class="text-white text-7xl font-black">X</button>
    </section>
    <nav class="text-white text-5xl flex flex-col justify-center items-center gap-10 mt-20">
        <a class="uppercase font-bold">Accueil</a>
        <a class="uppercase font-bold">Blog</a>
        <a class="uppercase font-bold">Découvertes</a>
        <a class="uppercase font-bold">A propos</a>
    </nav>
</div>